@import "../../../styles";

:host {
  .comic-container {
    padding: 20px;
    background-color: $background-color;

    .next-comic-button {
      @extend .button;
      color: $text-color;
      background-color: $background-color;
      border: 1px solid $primary-color;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }
}
