@import "../../../styles";

:host {
  .comic-container {
    padding: 10px;
    background-color: $background-color;

    .next-comic-button {
      @extend .button;
      background-color: $primary-color;
      color: $text-color;
    }
  }
}
