/* You can add global styles to this file, and also import other style files */
$background-color: #2E2E2E;
$text-color: #FFFFFF;
$primary-color: #FF5733;

body {
  color: $text-color;
  background-color: $background-color;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-middle {
  width: 50%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.button {
  cursor: pointer;
  font-size: larger;
  border-radius: 20px;
  padding: 5px 10px;
}
